
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}
/* sheared styles */
.bg-color {
    background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
.btn:hover{
    cursor: pointer;
    
}
.btn{
   padding: 11px 14px; 
   border: none;
   border-radius: 40px;
   font-size: 16px;
   font-weight: 600;
   color: #FFFFFF;
   
}
.menu-bar{
    display: none;
}
/* main styles */
/* nav styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 200px;
    background-color:#1A0B2E;
}
.nav-logo{
    color: white;
    font-size: 40px;
    color: #FFFFFF;
    
}
.nav-logo span {
    background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-bar{
    display: flex;
    list-style: none;
    
}
.nav-bar li a{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 30px;
}
.nav-bar li a:hover{
     background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* banner styles */
.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 200px;
    background-image:url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: auto;
    
    
}
.microphone-container {
   background-image: url(./assets/hero-circle.png);
   height: 350px;
   width: 350px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin: 20px 0;
}

#new {
   background-color: #00FF88;
   color: #1A0B2E;
   position: absolute;
   top: 15px;
   right: 35px;
   padding: 8px 16px;
   font-size: 16px;
   font-weight: 700;
   border-radius: 50px;
   box-shadow: 0 0 20px rgba(0, 255, 136, 0.6);
}
#new:hover{
    cursor: unset;
}

.microphone-container img {
   max-width: 100px;
   height: auto;
   object-fit: contain;
}


.banner-text h1{
   color: #FFFFFF;
   text-align: center;
   margin-top: 40px;
   font-size: 60px;
   font-weight: bolder;
}
.banner-text p{
   color: #FFFFFF;
   text-align: center;
   margin-top: 10px;
   font-size: 16px;
   font-weight: 200;
}
.btn-group{
   margin-top: 40px;
   display: flex;
   gap: 20px;
   margin-bottom:50px;
}
.btn-group button {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     width: 200px;
     padding: 20px 0;
     
}
#green-btn{
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    font-size: 16px;
    font-weight: 300;
}
/* about styles */
#about-container{
    padding: 40px 200px;
    background-color: #1A0B2E;
}
.about-text{
    color: #FFFFFF;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.about-heading{
    font-size: 32px;
    margin-bottom: 20px;
   
}
 hr{
    margin: 80px 0px;
    border: none;
     border-top: 1px solid #FFFFFF; 
    
 }
.about-discription{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
}
.about-message{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    margin-top: 25px;
}
.reating-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 80px;
   margin-bottom: 100px;
}
.reating{
    text-align: center;
    color: #00FF88;

}
.reating h1{
    font-size: 48px;
}
.reating p{
    font-size: 16px;
    color:#FFFFFF;
    font-weight: 200;
}
.reating h1 i{
    font-size: 40px;
}
/* why-choose */
#why-choose-container{
    padding: 40px 200px;
    background-color: #230E3D;
}
.why-choose-title{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 80px;
}
.why-choose-title h1{
    font-size: 48px;
    font-weight: bold;
}
#cart-1{
   grid-area: first; 
   padding:107px 40px;
}
#cart-2{
    grid-area: second;  
}
#cart-3{
    grid-area: third;  
}
#cart-4{
    grid-area: fourth;  
}
#cart-5{
    grid-area: fifth;  
}
.why-choose-cart-container{
   gap: 30px;
   display: grid;
  grid-template-areas:
  "first second second"
  "first third third"
  "fourth fourth fifth" ;
  margin-bottom:80px;

}
.why-choose-carts{
    background-color:rgba(53, 17, 101, 0.4);
    padding:40px;
    
    border-radius:40px;
    
}
.why-choose-carts:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.why-choose-carts img{
    width: 50px;
    height: auto;
}
.why-choose-carts i{
    font-size: 50px;
     background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.why-choose-carts h3{
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 10px;
}
.why-choose-carts p{
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 200;
}



@media screen and (max-width: 576px) {
    .nav-container{
       height: 60px; 
       padding: 8px 20px;
       
    }
    .nav-logo{
        font-size: 28px;
    }
    .nav-bar{
        display: none;
    }
    .btn{
        display: none;
    }
    #new {
        display: block;
        top:10px;
        right: 15px;
        padding: 6px 12px;
        font-size: 12px;
    }
    .menu-bar{
        display: inherit;
    }
    .banner-container{
     max-width: 100%;
     padding: 20px;
     margin: 0 auto;
     background-size: 100% 100%;
     
    }
    .microphone-container{
        max-width: 200px;
        height: 200px;
        width: 200px;
        margin-top: 100px
       
    }
    .microphone-container img{
        max-width: 40px;
        max-height: 60px;
        align-items: center;
    }
    .banner-text{
        margin-top:-30;
        text-align: center;
        
       
        
    }
    .banner-text h1{
        font-size: 32px;
        
    }
    .banner-text p{
        font-size: 14px;
    }
    .btn-group{
        margin-top: 30px;
        display: flex;
        gap: 15px;
        width: 100%;
    }
    .btn-group button {
        width: 100%;
        padding: 15px;
        font-size: 14px;
    }
    #about-container{
        padding: 20px; 
    }
    .reating-container{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        margin-bottom:50px;
    }
    hr{
        margin: 40px 0px;
    }
    .about-discription{
        line-height: 20px;
        margin-bottom: 0px;
    }
    #why-choose-container{
        padding: 8px 20px;
    }
    .why-choose-title h1{
    font-size: 32px;
    font-weight: bold;
    }
    .why-choose-cart-container{
        gap:10px;
        grid-template-areas: 
        "first"
        "second"
        "third"
        "fourth"
        "fifth";
    }
    .why-choose-carts{
        padding: 24px;
    }
    #cart-1{
        padding: 24px;
    }
}

    







